html,
body {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    color: var(--color-gray-200);
    letter-spacing: 0.2px;
    background-color: var(--color-gray-800);
}

main {
    overflow-y: auto;
}

#root {
    width: 80%;
    max-width: 960px;
    margin: 4px auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

p {
    line-height: 1.6;
}

#dialog {
    position: absolute;
    top: 0;
    left: 0;
}
