html,
body {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    background-color: var(--color-gray-800);
}

#root {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
