:root {
    --color-gray-100: #222222;
    --color-gray-200: #444444;
    --color-gray-300: #666666;
    --color-gray-400: #888888;
    --color-gray-500: #aaaaaa;
    --color-gray-600: #cccccc;
    --color-gray-700: #eeeeee;
    --color-gray-800: #fafafa;

    --color-green-100: #003000;
    --color-green-200: #205020;
    --color-green-300: #407040;
    --color-green-400: #609060;
    --color-green-500: #80b080;
    --color-green-600: #a0d0a0;
    --color-green-700: #c0f0c0;
    --color-green-800: #f0fff0;

    --color-body-text: var(--color-gray-200);
    --color-button-disabled: var(--color-gray-400);

    --font-size-page-title: 30px;
    --font-size-section-title: 20px;

    --font-weight-page-title: 700;
}
